:root {
    --palworld-pink: #DE4469;
    --palworld-brown: #BD8088;
    --palworld-white: #FFF4F6;
    --palworld-green: #5fbab0;
}

body {
    font-family: 'Trebuchet MS', 'Verdana', 'Tahoma', sans-serif;
    margin: 0;
    text-align: center;
    background-color: var(--palworld-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    font-family: monospace;
    background-color: var(--palworld-pink);
    bottom: 0;
    left: 0;
    margin-top: auto;
    overflow: hidden;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 42;
}

.navbar a {
    display: inline-block;
    color: var(--palworld-white);
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 0px 2px var(--palworld-brown);
    z-index: 42;
}

.navbar a:hover {
    background-color: var(--palworld-brown);
    color: var(--palworld-white);
    z-index: 42;
}

.navbar a.active {
    background-color:var(--palworld-white);
    color: var(--palworld-pink);
    font-weight: bold;
    text-shadow: 0px 2px 1px rgba(0,0,0,.2);
    z-index: 42;
}

.header {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    background-color: var(--palworld-pink);
    color: var(--palworld-white);
    width: max-content;
    text-align: center;
    padding: 10px 12px;
    border-radius: 10px;
    margin-bottom: auto;
    text-shadow: 0px 2px var(--palworld-brown);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
    z-index: 21;
}

.content-box {
    background-color: var(--palworld-green);
    color: var(--palworld-white);
    width: 70%;
    height: 60%;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
}

.content-org {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content-box-text {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box-text h4 {
    margin: 0;
    text-shadow: 0px 2px 1px rgba(0,0,0,.2);
}

.content-box-text p {
    margin: auto;
    text-shadow: 0px 2px 1px rgba(0,0,0,.2);
}

.content-box-video {
    width: 50%;
}

.video-player {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 10px 10px 0;
}

.content-box-timeline {
    background-color: var(--palworld-green);
    color: var(--palworld-white);
    width: 70%;
    height: 60%;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
    overflow: auto;
}

.content-box-text ul {
    list-style-type: none;
    padding-bottom: 25%;
}

.content-box-text li {
    margin-bottom: 10px;
    text-shadow: 0px 2px 1px rgba(0,0,0,.2);
}

.content-box-text h5 {
    text-shadow: 0px 2px 1px rgba(0,0,0,.2);
}

.content-box-image {
    width: 50%;
    margin: auto;
}

#bottom-list {
    padding-bottom: 0px;
}

.image-section {
    width: 100%;
    height: 100%;
    border: none;
    border-radius:  10px 10px 0;
    margin: 0;
    padding: 0%;
}

#table-text {
    text-shadow: 0px 2px 1px rgba(0,0,0,.2);
    border-spacing: 10px;
    width: 100%;
}

#table-text th, #table-text td {
    padding: 15px;
}

.content-box-table {
    overflow: auto;
    background-color: var(--palworld-green);
    color: var(--palworld-white);
    width: 70%;
    height: 70%;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
}

.select-box {
    width: 25%;
}